body{
    height: 100%;
    margin: 0;
}
.carousel{
    /*padding-bottom: 116px;
    height: 800px;*/
  
}
.navbar-collapse{
    /*padding-left: 200px ;*/
}
.icon-arrangement{
    display: flex;
    width: 120px;
    justify-content: space-evenly;
}
.sign-in{
       background-color: yellow;
    height: 60px;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
/*.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1.5em;
    padding-right:0px;
   /*position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;



.nav-item{
    padding-left: 30px;
    text-transform: uppercase;
    
}
*/

nav{
    background-color:white;
  
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: black;
}
.img1,.img2,.img3{
    background-image: url("Baltit.png");
    height:900px;
min-height: 900px;
    background-size: cover;
  
 
    background-position: center;
    background-repeat: no-repeat;
}



.img2{
      background-image: url("Skardu.jpg");
}
.img3{
      background-image: url("s.jpg");
      width:1100px;
}
.from-arrangement{
    position: absolute;
    top:350px;
    padding-left: 35px;
   
  
   
  
   
}
.form-row{

}
.input-box1{
   display: flex;
    background-color:red;
    width: 250px;
    height: 50px;
    
flex-wrap: wrap;
justify-content: space-between;

  
}


.width-control{
    width:200px;
    height: 55px;

}

.width-controler
{
    
    height: 55px;
}
.wording-arragement{
   display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    padding-top: 55px;
    flex-wrap: wrap;
    padding-bottom: 100px;

}
.wording-arragement > span{
   width: 25%;
}
.slider-back-image{
    background-image: url("Passu Cones.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.slider-back-image-inner{
    padding-top: 30%;
    padding-bottom: 30%;

}

.slider-after{
    height: 500px;
    
    display: flex;
align-items: center;
    justify-content: space-evenly;
    padding-top: 59px;
}

.map{
    background-image: url("img6.png");

    background-repeat: no-repeat;
    height: 500px;
    width: 611px;
}
.card{
    border: none;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 330px;
   
}

.slider-image1{
background-image: url("FM2.png");
height: 200px;

background-size: cover;
}
.wrapper{
    width: 100%;
    height:auto;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}
.item{
   
    
}

.slide1{
height:550px;
}
.wrapper1{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-image2{
background-image: url("Fairy.png");
    height: 450px;
    background-size: cover;
    width: 380px;
background-size: cover;
display: inline-block;
}
.owl-carousel{
    padding: 40px;
}
.design-for-slider{
    height: 450px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.slider-back-image1{
    background-image: url("pass.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.slider-back-image-inner1{
    padding-top: 30%;
    padding-bottom: 30%;

}

.footer{
      background-color: black;
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding: 48px;
}
.footer > div{
    width: 250px;
  
}
.card-body1{
    padding: 0px;
}
.card-img{
    height: 87px;
}
p{
    margin: 0px;
}
.set-form{
    width: 20%;
}
.input-box{
    display: inherit;
}
.big-picture{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
}
.second-phrase{
font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Caveat Brush', cursive;
font-size: 25px;
line-height: 18px;
}
.third-phrase{
font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Caveat Brush', cursive;
font-size: 32px;
    
}

.set-big-picture-and-second-phrase
{
    padding-top: 250px;
}
.navbar-toggler-icon{
    width: 40px;
    height: 32px;
    background-color: yellow;
}
.select-box{
    position: absolute;
    top: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
   
   
}
header{
    position: relative;
}
.inline-select-box{
    display: inline-block;
width: 17%;
}

.big-image{
    background-image: url(Fairy.png);
    height: 455px;
    background-size: cover;
    width: 600px;    
}
.small1{
  background-image: url(Baltit.png);
    height: 226px;
    background-size: cover;
    width: 355px;
    
}
.small2{
    background-image: url(Skardu.jpg);
    height: 226px;
    background-size: cover;
    width: 355px;
    
}
.image-vertical{
  
    width: 269px;
  
    display: flex;
   
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.set-image{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding-top: 50px;
}



@media only screen and (max-width: 800px) {
 
 .set-image{
     display: block;
 }
  .select-box{
      display: block;
      padding: 16px;

  }
  .inline-select-box{
      display: block;
      width: 100%;
  }
  .img1,.img2,.img3 {
    height: 1200px;
  }
  .big-image{
      width: 400px;
  }
  .card{
      width: 260px;
  }
  .wrapper{
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media only screen and (max-width: 1000px) {
 
 .set-image{
     display: block;

}
.big-image,.small1,.small2,.image-vertical{
    width: 100%;
}

}